body {
    /* background-color:firebrick; */
    font-size: 5em;
    margin: 5px;
    padding: 30px;
    /* font-family: 'Courier New', Courier, monospace; */
font-family: "Jersey 15", sans-serif;
    font-weight: 400;
    font-style: normal;

}

.red {
    background-color: yellow
    height: 600px;
}

.blue {
    background-color: deepskyblue;
    height: 200px;
}

.green {
    background-color: blueviolet;
    height: 200px;
}

.black {
   background-color: darkorchid;
    height: 50px;
    width: 200px;
    position: fixed; 
    font-size: 30px;
    top: 0;
    right: 0; 
    text-align: center;
    z-index: 1; /* Ensure it's above other content */
}

.header {
    position: fixed;
    text-align: center;
    top: 0;
    left: 0;
    width:max-content;
    background-color: black;
    color: white;
    font-size: 24px;
    padding: 10px;
    z-index: 999; /* Ensure the header is above other content */
}
.flex-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh; 
}

.box {
    width: 400px;
    height: 800px;
    margin: 20px;
    text-align: center;
    color: azure;
   border: 10px ridge purple;
}
